/* CSS Reset */
* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
  }
  
  :root {
    --background: #F4B9B8;
    --accent: #85D2D0;
    --primary: #FFF4BD;
    --secondary: #887BB0;
  }
  
  body {
    min-height: 100vh;
    background-color: var(--background);
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 10rem 80vh 1fr;
    align-items: center;
  }
  
  
  .interface {
    display: flex;
    /* border: 2px solid red; */
    gap: 2rem;
  
    grid-column: 2;
  }
  
  .game {
    grid-column: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  svg {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
  }
  
  #top-left, #top-middle, #top-right {
    grid-row: 1;
  }
  
  #center-left, #center, #center-right {
    grid-row: 2;
  }
  
  #bottom-left, #bottom-middle, #bottom-right {
    grid-row: 3;
  }
  
  #top-left, #center-left, #bottom-left {
    grid-column: 1;
  }
  
  #top-middle, #center, #bottom-middle {
    grid-column: 2;
  }
  
  #top-right, #center-right, #bottom-right {
    grid-column: 3;
  }
  
  .game div {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    font-size: calc(50vh / 3);
  }
  
  .X {
    color: #887BB0;
  }
  
  .O {
    color: #FFF4BD;
  }
  
  .btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    border: 0;
    color: #3a4149;
    background: #FBEEDF;
    line-height: 1.15;
    font-size: 1rem;
    width: 10rem;
  }
  
  .btn:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
  }
  
  
  
  
  @media (orientation: landscape) {
    .container {
      margin: 10vh 0;
      gap: 3rem;
    }
  
    .interface {
      flex-direction: column;
      margin-right: 5vw;
    }
  
    svg {
      height: 80vh;
      width: 80vh;
    }
  }
  
  @media (orientation: portrait) {
    .container {
      height: 100vh;
      grid-template-columns: auto;
      grid-template-rows: 1fr 10rem 80vw 1fr;
      justify-items: center;
    }
  
  
    .interface {
      flex-direction: row;
      margin-bottom: 5vh;
      grid-column: 1;
      grid-row: 2;
    }
  
    .game {
      grid-column: 1;
      grid-row: 3;
    }
  
    .game div {
      font-size: calc(50vw / 3);
    }
  
    svg {
      height: 80vw;
      width: 80vw;
    }
  }
  
  /* Animate the grid */
  
  #left line, #up line {
    stroke-dasharray: 175;
    stroke-dashoffset: 175;
    animation: dash .5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
  
  #right line, #down line {
    stroke-dasharray: 175;
    stroke-dashoffset: -175;
    animation: dash .5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  /* Animate X's and O's */
  
  .puff-in-center {
      -webkit-animation: puff-in-center 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) forwards;
              animation: puff-in-center 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) forwards;
  }
  
  /* ----------------------------------------------
   * Generated by Animista on 2023-6-22 11:17:23
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation puff-in-center
   * ----------------------------------------
   */
   @-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  